button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

h3 {
  font-size: 16px;
  color: #666;
  margin-top: 5px;
}


button + button {
  margin-left: 15px;
}

button:focus {
  outline: none;
}


img {
  max-width: 20%;  
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.05); 
}

p {
  font-size: 14px;
  color: #555;
  max-width: 700px;
  margin: 10px auto;
  line-height: 1.5;
  text-align: center;
}
